{% extends 'backend_layout.html.twig' %}

{% block title %}4oom | dashboard{% endblock %}

{% block content %}
    <h1 style="margin-left: 40%;">Welcome to the dashboard, {{ app.user.username|capitalize }}!</h1>
{% endblock %}
